{% extends "task1/wrapper.html" %}
{% block contentt %}
    <div class="form-group">
        <form action="{% url 'names' %}" method = "post" id="for_result">
            {% csrf_token %}
            <p><label for="kol">Количество пар людей</label></p>
            <p><input type="couples" class="form-control" id="kol" name="kol" value="{{kol}}" required></p>
            <p><input type="submit" value="OK" class="btn btn-outline-primary btn-lg" ></p>
        </form>
    </div>
{% endblock %}