{% extends "task1/wrapper.html" %}
{% block contentt %}
    <p>{{ 'Введите свой идентификатор примера:' }}</p>
    <form action="{% url 'ids' %}" method = "post" id="for_res">
            {% csrf_token %}
          <p><input type="number" name="ind" class="form-control" id="ind" required></p>
          <button type="button" class="btn btn-primary" value="OK"></button>
            <p><input type="submit" value="OK" class="btn btn-outline-primary btn-lg"></p>
          </form>
{% endblock %}