{% extends "task1/wrapper.html" %}
{% block contentt %}
    <form action="{% url 'rait' %}" method = "post" id="for_result">
    {% csrf_token %}
    <p><table border="0">
        <tr>
            <td>{{ 'Девушки ' }} </td><td>{{ 'Мужчины ' }}</td>
        </tr>
        {% for k in kolvo|get_range %}
            <tr><td><input type="text" name="woman" class="form-control" id="woman" value="{{ w|get_in:k }}" required></td><td><input type="text" name="man" class="form-control" id="man" value="{{ m|get_in:k }}" required></td></tr>
        {% endfor %}

    </table></p>
    <p><input type="submit" value="OK" class="btn btn-outline-primary btn-lg"></p>
    </form>

{% endblock %}