{% extends "task1/wrapper.html" %}
{% block contentt %}
    <form action="{% url 'rezu' %}" method = "post" id="for_resu">
    {% csrf_token %}
    <p><table border="0">

        {% for i in kol|get_range %}
            <tr><td></td><td>{{ women|get_in:i }}</td> </tr>
            {% for j in kol|get_range %}
                <tr><td>{{ men|get_in:j }}</td> <td><input type="number" name="raiting" class="form-control" id="raiting" value="{{ raitW|get_in:i|get_in:j }}" required></td> </tr>
            {% endfor %}
        {% endfor %}
    {% for i in kol|get_range %}
            <tr><td></td><td>{{ men|get_in:i }}</td> </tr>
            {% for j in kol|get_range %}
                <tr><td>{{ women|get_in:j }}</td> <td><input type="number" name="raiting" class="form-control" id="raiting" value="{{ raitM|get_in:i|get_in:j }}" required></td> </tr>
            {% endfor %}
        {% endfor %}
    </table></p>
    <p></p>
    <p><input type="submit" value="Узнать результат" class="btn btn-outline-primary btn-lg"></p>
    </form>
{% endblock %}