{% extends "task1/wrapper.html" %}
{% block contentt %}
    <p>{{ 'Пары:' }}</p>
    <p>{% for p in pari %}
        <p>{{ p }} {{ ' ' }}</p>
    {% endfor %} </p>
    <p>
        <p><a type="button" href="/task1/names/rait/rezu/id" class="btn btn-outline-primary btn-lg">Сохранить пример</a></p>
    </p>
{% endblock %}