<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equip="X-UA-Compatible" content="ie=edg">
    <title>Задачи</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"></svg>
                <h1 class="display-4">Задачи</h1>
            </a>
        </header>
  </div>
{#    {% block content %}#}
{#    {% endblock %}#}

    <div class="jumbotron">
        <div class="container">
            <p><a href="/task1" class="btn btn-outline-primary btn-lg">Задача о марьяже</a></p>
            <p>Цель задачи состоит в том, чтобы найти устойчивые пары между двумя наборами людей с разными предпочтениями и мнением о том, кто лучше всего им подходит.
                Основная мысль заключается в том, что пары должны быть стабильными: не должно быть двух человек, которые предпочитают друг друга их реальным партнёрам.</p>
            <p>Это система, с помощью которой каждый может найти наиболее предпочитаемого человека среди тех, кто его предпочитает.
                Мужчины и женщины оценивают свои предпочтения, а затем сортируются с помощью алгоритма.</p>
            <p> Для решения данной задачи используется алгоритм Гейла-Шепли.</p>
            <p> <a href="/task2" class="btn btn-outline-primary btn-lg">Задача о справедливом дележе</a></p>
            <p> Справедливый делёж — это задача распределения множества ресурсов среди нескольких людей, которые претендуют на доли этих ресурсов, при этом каждое лицо получает ту часть, которая в той или иной степени устраивает его.  </p>
            <p> Задача справедливого дележа возникает в различных ситуациях, например, таких как раздел наследства.</p>
        </div>

    </div>
    <div class="container">
        <hr>
        &copy Все права защищены
    </div>


</body>
</html>