{% extends "task2/wrapper.html" %}
{% block content %}
    <form action="{% url 'rez' %}" method = "POST">
    {% csrf_token %}
    <p><label for="sum">Сумма для дележа</label></p>
    <p><input type="number" class="form-control" id="sum" name="sum" value="{{ sum }}" required></p>
    <p>{{ 'Притязания людей, совершающих дележ: ' }} </p>
    <p><table border="0">
        {% for k in kolvo|get_range %}
            <tr><td><input type="number" class="form-control" id="part" name="part" value="{{ del|get_in:k }}" required></td></tr>
        {% endfor %}
    </table></p>
    <p><input type="submit" class="btn btn-outline-primary btn-lg" value="Узнать результат"></p>
    </form>
{% endblock %}
