{#{% extends "task2/wrapper.html" %}#}
{#{% block content %}#}
{#    <form action="{% url 'rez' %}" method = "POST">#}
{#    {% csrf_token %}#}
{#    <p><label for="sum">Сумма для дележа</label></p>#}
{#    <p><input type="number" class="form-control" id="sum" name="sum" value="sum" required></p>#}
{#    <p>{{ 'Притязания людей, совершающих дележ: ' }} </p>#}
{#    <p><table border="0">#}
{#        {% for r in rezult %}#}
{#            <tr><td><input type="number" class="form-control" id="part" name="part" required></td><td>{{ 'Результат = ' }}{{ r }}</td></tr>#}
{#        {% endfor %}#}
{#    </table></p>#}
{#    <p><a href="/task2/razdel/rez" class="btn btn-outline-primary btn-lg">Узнать результат</a></p>#}
{#    </form>#}
{#{% endblock %}#}

{% extends "task2/wrapper.html" %}
{% block lol %}
    <p>{{ 'Результат: ' }} </p>
    <p>
        {% for r in rezult %}
            <p>{{ r }}</p>
        {% endfor %}
    </p>

     <p>
        <p><a type="button" href="/task2/razdel/rez/id" class="btn btn-outline-primary btn-lg">Сохранить пример</a></p>
    </p>
{% endblock %}