<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equip="X-UA-Compatible" content="ie=edg">
    <title>Дележ</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"></svg>
                <h1 class="display-4">Задача о справедливом дележе</h1>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Домой</a></li>
                <li class="nav-item"><button type="button" class="nav-link" data-toggle="modal" data-target="#exampleModal">Мои данные</button></li>
                <li class="nav-item"><a type="button" href="/task2/exx" class="nav-link">Пример</a></li>
                <li class="nav-item"><button type="button" class="nav-link" data-toggle="modal" data-target="#exampleModalLong">Справка</button></li>
            </ul>
        </header>
  </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Введите идентификатор</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{% url 'id_s' %}" method = "post" id="for_res">
            {% csrf_token %}
          <p><input type="number" name="ind" class="form-control" id="ind" required></p>
          <p><input type="submit" value="OK" class="btn btn-outline-primary btn-lg"></p>
          </form>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Справка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>
            Данное приложение предназначено для совершения справедливого дележа.
        </p>

          <p>
            Введите количество человек. В графе ввода допустимо использовать только положительные целые числа без дополнительных знаков и символов: 1, 2, 3 ..... Чтобы перейти к следующему шагу, нажмите ОК.
        </p>
          <p>
            Введите сумму, с которой осуществляется дележ и притязания людей на нее. В графе ввода допустимо использовать только положительные целые числа. Чтобы перейти к итоговому результату, нажмите Узнать результат.
        </p>
          <p>
            Чтобы сохранить данные нажмите Сохранить пример. После сохранения вы получите значение, по которому сможете вернуться к примеру.
        </p>
          <p>
            Кнопка Домой возвращает на главную страницу, кнопка Пример запускает заранее заготовленный пример, кнопка Мои данные позволяет получить ваш старый сохраненный пример по идентификатору.
            </p>

      </div>
    </div>
  </div>
</div>


    <div class="jumbotron">
        <div class="container">
            <form action="{% url 'razdel' %}" method = "post" id="for_result">
                {% csrf_token %}
                <p><label for="kol">Количество человек</label></p>
                <p><input type="number" class="form-control" id="kol" name="kol" value="{{ kolvo }}" required></p>
                <p><input type="submit" class="btn btn-outline-primary btn-lg" value="OK"></p>
            </form>
            {% block content %}
            {% endblock %}
            {% block lol %}
            {% endblock %}
        </div>


    </div>

</body>
</html>